

<div class="mb-7 px-4 sm:px-6">
    <div class="md:hidden mb-4 mt-4">
        <a href="{% url "tags" %}" class="inline-block px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors">
            Browse Tags
        </a>
    </div>

    <h1 class="font-mono text-2xl sm:text-3xl xl:text-4xl m-4 sm:m-6">Blogs</h1>
    
    <hr>

    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mx-4 sm:mx-6 mt-6 sm:mt-9">
        <div class="font-sans font-bold text-2xl sm:text-3xl mb-4 sm:mb-0">
            <h1>{{blog_count}} Blogs</h1>
        </div>

        <div>
            <a href="{% url "create-blog" %}" class="inline-block align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">
             Create Blog
            </a>
        </div>
    </div>
    
    <div class="flex flex-row flex-wrap justify-center">
        {% for blog in blogs %}
            <div class="mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl mx-2 sm:mx-4 sm:w-[calc(50%-2rem)] lg:w-[382px]
             {% comment %} w-full lg:w-[calc(33.33%-2rem)] {% endcomment %}
             ">
                <div class="p-6">
                    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-2">
                        <div class="mb-2 sm:mb-0">
                            <a href="{% url "blog" blog.id %}" class="mb-2 font-serif text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">{{blog.name}}</a>
                        </div>
                        <div class="font-sans font-semibold">
                            {% if request.user == blog.host %}
                                <a href="{% url "update-blog" blog.id %}" class="mr-3 hover:text-gray-400 ease-in duration-300">Update</a>
                                <a href="{% url "delete-blog" blog.id %}" class="hover:text-gray-400 ease-in duration-300">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url "profile" blog.host.id %}" class="font-sans text-blue-700 font-semibold">{{blog.host.username}}</a>
                    <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit mt-2">
                        {% if blog.description %}
                            {{blog.description}}
                        {% else %}
                            The place is close to Barceloneta Beach and bus stop just 2 min by walk
                            and near to "Naviglio" where you can enjoy the main night life in
                            Barcelona.
                        {% endif %}
                    </p>
                </div>
                <div class="flex justify-between p-6 pt-0">
                    <div>
                        <a href="{% url "blog" blog.id %}"
                            class="inline-block align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                            type="button">
                            Read More
                        </a>
                    </div>
                    <div class="self-end">
                        <h2>
                            {{blog.created.date}}
                        </h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

