{% extends "main.html" %}


{% block content %}



<div class="my-4 sm:my-9 px-4 sm:px-0">
    <div class="flex justify-center mb-4 sm:mb-7">
        <form action="" method="GET" class="w-full max-w-md">
            <input 
                name="q" 
                placeholder="Search for Tags" 
                class="w-full rounded-md bg-gray-800 text-gray-50 focus:border-teal-800 outline-none shadow-none focus:outline-none focus:shadow-none focus:ring-0 px-3 py-2"
                type="text"
            >
        </form>
    </div>
    <div class="flex justify-center">
        <ul class="w-full max-w-md">
            <li class="mt-4 sm:mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl p-4 flex justify-between items-center">
                <a href="{% url "tags" %}" class="font-serif text-lg">All</a>
                <span class="font-sans text-blue-700 font-semibold">{{tags.count}}</span>
            </li>
            {% for tag in tags %}
            <li class="mt-4 sm:mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl p-4 flex justify-between items-center">
                <a href="{% url "home" %}?q={{tag.name}}" class="font-serif text-lg">{{tag.name}}</a>
                <span class="font-sans text-blue-700 font-semibold">{{tag.blog_set.all.count}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>



{% endblock content %}
